.tipografia{
  font-family: 'Manjari', sans-serif;
  color: white;
}

/*navbar*/

.botones {
  text-align: right;
  margin-left: inherit;
  margin-top: 30px;
  color: #fff;
}
.services-color a, a i{
  color: #3dbb9e;
}
.nav-logo {
  height: 83px;
  margin-top: -1px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin: 5px;
}
.navback-carecolor {
  background: #3dbb9e12;
}
header img {
  vertical-align: middle;
  border-style: none;
  width: 104px;
}
.nav-care-btn {
  background-color: #3dbb9e;
  border-color: #3dbb9e;
  color: #fff;
  margin: 5px;
}
.nav-care-btn:hover  {
  color: #8adac9;
}
.nav-care-btn.disabled {
  color: #fff;
}
a {
  text-decoration: none;
}



/*header carreers*/

.carreers-title{
  background-repeat: repeat-x;
  width: 100%;
  background-size: cover;
  background-image: url("./assets/images/img/carreers-title.jpg");
  height: 350px;
}
@media screen and (max-width: 39.99875em){
.carreers-title {
    background-position: 65% 50%;
}
  }

.carreers-title p{
 
  position: relative;
  min-width: 230px;
  max-width: 100%;
  color:  #3dbb9e;
  text-align: left;
  font-size: 3.5rem;
 

}
@media screen and (max-width: 39.99875em){
.carreers-title  p{
    padding-left: 40px;
    padding-top: 10px;
    font-style: bold;
    background-color: rgb(255,255,255, 0.6);
    margin-top: 250px;
}
}

/*main body carreers*/
.carreers-content{
  justify-content: center;
  text-align: center;
}

.carreers-content h1{
  color: #3dbb9e;
  text-align: center;
}

.carreers-content p{
  color: #4b4b4a;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 991.98px) { 
.carrers-content h1{
 font-size: 2rem;
  }
.carrers-content p{
  font-size: 1rem;
  }
}

.carreers-button a{
  width: 200px;
  height: 60px;  
  color: #3dbb9e;
  line-height: 3.75rem ;
  font-size: 1.25rem;
  cursor: pointer;
  border: 2px solid #3dbb9e; 
  transition-duration: 0.4s;
}

.carreers-button a:hover {
  background-color: #3dbb9e; 
  color: white;
  text-decoration: none;
} 


.carreers-form{
  background-color: #3dbb9e;  
  background-position: center;    
  /*width: 55%;*/
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
}


.form-aligne input, label, span{ 
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.carreers-form  hr{
  border-color: white;
  width: 70%;
}


.carreers-form-btn {
  width: 130px;
  height: 40px;  
  line-height: 2.5rem ;
  font-size: 1.25rem;
  cursor: pointer;
  border: 2px solid white; 
  transition-duration: 0.2s;
  color: white;
  text-decoration: none;

}


.carreers-form-btn:hover {
  background-color: white;  
  text-decoration: none;
  color: #3dbb9e;
  font-weight: bold;  
  text-decoration: none;
} 


/*footer banner*/
.carreers-banner{
  width: 100%;
}

.carreers-banner img{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: auto;
}
.cv {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

/*footer*/

.footer-second{
  background-image: url(assets/images/img/footer-bkg2.png); 
/*  height: auto;*/
  background-position-x: center;
  background-size: auto; 
  background-repeat: repeat-x;
  background-color: #3dbb9e;
}
/*@media (min-width: 992px){
  .footer-second{
  background-repeat: repeat-x; 
  }
}*/
.footer-in{
   background: linear-gradient( rgb(255,255,255, 0.1), rgb(23,25,24, 0.78));
   width: 100%;
   margin: 0;
   padding: 0;
}


/*clases footer mainindex*/

footer {
   width: 100%; 
   padding-bottom: 0;
   margin: 0;
}
.container-footer{
  background-image: url(assets/images/img/blur1.jpg);
   background-size: cover;   
   background-repeat: repeat-x;
   width: 100%;
   margin: 0;
}
.footer-part-bkg{
 background: linear-gradient(rgb(220,220,220, 0.5), rgb(0,0,0, 0.5) );
 width: 100%;
 color: white;
 padding: 0;
 margin: 0;
}
footer img{
  height: 135px;
  margin-top: 20px;
  padding-top: 1rem;
}
footer p{
  padding: 15px;
}
.footer-first {
  text-align: justify;
}
.footer-buttons{
  margin-top: 5rem;
}
.footer-buttons a{
  width: 200px;
  height: 60px;
  text-align: center;
  color: white;
  line-height: 3.75rem;
  font-size: 1.25rem;
  cursor: pointer;
  display: block;
}
.footer-contact{
  background-color: #32c6a3;
  margin: 1rem;
}
.footer-contact:hover{
  background-color: #1e8069;
  text-decoration: none;
}
.footer-donate{
  background-color: #32c6a3;
  margin: 1rem;
}
.footer-donate:hover{
  background-color: #1e8069;
  text-decoration: none;
}
.footer-titulo{
 /* height: 54px;*/
}
.footer-titulo h2{  
  font-family: 'Manjari', sans-serif;
  color: white;
}
.redes a {
  margin: 10px;
}
.redes i {
  color: white;
  font-size: 2.5rem;
}
.redes {
  margin-top: 1rem;
  justify-content: center;
}
.redes i:hover {
   transform: rotateY(360deg);
   transition-duration: 1s;
}
.copyright {
  display: flex;
  font-size: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
  color: white;
  background-color: #1e8069;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif ;
  width: 100%;
  position: absolute;
}
.copyright p{
  padding-bottom: 2px;
  margin-bottom: 2px;
}

/*MODAL LOGIN*/
@media (min-width: 576px){
.modal-loginj {
    max-width: 900px;
    margin: 1.75rem auto;
  }
}
.modal-content{
  font-family: 'Manjari', sans-serif;
}
.account{
  background-color:#619680;
  height: 510px;
  width: 480px;
  position: relative;
  display: inline-block;
}
.account-login{
  background-color: white;
  height: 510px;
  width: 90%;
  position: absolute;
  top: -3%;
  z-index: 1;
  right: -1%;
  box-shadow: 0 8px 25px 0px black;
  transition-duration: 1s;
}
.account-login-1{
  background-color: white;
  height: 500px;
  width: 100%;
  position: absolute;
  top:-113%;
  z-index: 100;
  /*transform:translateY(-120%);  */
  /*box-shadow: 0 8px 25px 0px black;*/
  transition-delay: 1s;
  transition-duration: 0.3s;
}
.account-login-2{
  background-color: white;
  height: 540px;
  width: 100%;
  position: absolute;
  box-shadow: 0 8px 25px 0px black;
  transition: 2s;
}


/*Modal responsive*/

.account-responsive-doctor{
  background-image: url(assets/images/img/blurred-background-green-color.jpg);
  background-repeat: no-repeat;background-position-x:center;
  background-size: cover;
  width: 100%;
  height:95vh;
  left: 110%;
  transition: 1s;  
}
.account-responsive-patient{
  background-image: url(assets/images/img/blurred-background-green-color.jpg);
  background-repeat: no-repeat;background-position-x:center;
  background-size: cover;
  width: 100%;
  height:95vh;
  left: -110%;
  transition: 1s;  
}
.account-responsive-base{
  background-image: url(assets/images/img/blurred-background-green-color.jpg);
  background-repeat: no-repeat;
  background-position-x:center;    
  background-size: cover;
  width: 100%;
  height:95vh;
}