.tipografia{
  font-family: 'Manjari', sans-serif;
  color: white;
}
/*Main video*/
.main-video img{
  height: 500px; 
  width: 400px;
}
.main-video b{
  color: white;
  font-size: 4rem;

}
.main-video p{
  color: white;
  font-size: 2rem;
}
.video-bkg{  
 opacity: 0.8;
}

a:hover {
  text-decoration: none;
}



/*Header and footer*/
.botones {
  text-align: right;
  margin-left: inherit;
  margin-top: 30px;
  color: #fff;
}
.services-color a, a i{
  color: #3dbb9e;
}
.bars-color {
  color: #3dbb9e;
  font-size: 2.2rem;
}
.bars-color:hover {
  color: #146959;
}

.nav-logo {
  height: 83px;
  margin-top: -1px;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  margin: 5px;
}
.navback-carecolor {
  background: #3dbb9e12;
}
header img {
  vertical-align: middle;
  border-style: none;
  width: 104px;
}
.nav-care-btn {
  background-color: #3dbb9e;
  border-color: #3dbb9e;
  color: #fff;
  margin: 5px;
}
.nav-care-btn:hover  {
  color: #8adac9;
}
a {
  text-decoration: none;
}
.nav-care-btn.disabled {
  color: #fff;
}


/*Footer */
.footer-second{
  background-image: url(assets/images/img/footer-bkg2.png); 
/*  height: auto;*/
  background-position-x: center;
  background-size: auto; 
  background-repeat: repeat-x;
  background-color: #3dbb9e;
}
/*@media (min-width: 992px){
  .footer-second{
  background-repeat: repeat-x; 
  }
}*/
.footer-in{
   background: linear-gradient( rgb(255,255,255, 0.1), rgb(23,25,24, 0.78));
   width: 100%;
   margin: 0;
   padding: 0;
}


footer {
 width: 100%; 
 padding-bottom: 0;
 margin: 0;
}
.container-footer{
  background-image: url(assets/images/img/blur1.jpg);
  background-size: cover;   
  background-repeat: repeat-x;
  width: 100%;
  margin: 0;
}
.footer-part-bkg{
 background: linear-gradient(rgb(220,220,220, 0.5), rgb(0,0,0, 0.5) );
 width: 100%;
 color: white;
 padding: 0;
 margin: 0;
}
footer img{
  /*width: 200px;*/
  height: 135px;
  margin-top: 20px;
}
footer p{
  padding: 15px;
}
.footer-first {
  text-align: justify;
}
.footer-buttons a{
  width: 200px;
  height: 60px;
  text-align: center;
  color: white;
  line-height: 3.75rem;
  font-size: 1.25rem;
  cursor: pointer;
  display: block;
}
.footer-buttons{
  padding-top: 5rem;
}
.footer-contact{
  background-color: #32c6a3;
  margin: 1rem;
}
.footer-contact:hover{
  background-color: #1e8069;
}
.footer-donate{
  background-color: #32c6a3;
  margin: 1rem;
}
.footer-donate:hover{
  background-color: #1e8069;
}
.footer-titulo{
 /* height: 54px;*/
}
.footer-titulo h2{
  font-family: 'Manjari', sans-serif;
  color: white;
}
.redes a {
  margin: 10px;
}
.redes i {
  color: white;
  /* margin: 10px;*/
  /*  padding: 10px;*/
  font-size: 2.5rem;
}
.redes {

 justify-content: center;
}
.redes i:hover {
 transform: rotateY(360deg);
 transition-duration: 1s;
}
.copyright {
  display: flex;
  font-size: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
  color: white;
  background-color: #1e8069;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif ;
  width: 100%;
  position: absolute;
}
.copyright p{
  padding-bottom: 2px;
  margin-bottom: 2px;
}


/*Service-Appoinment-Careers*/

/*MODAL LOGIN*/

@media (min-width: 576px){
.modal-loginj {
    max-width: 900px;
    margin: 1.75rem auto;
  }
}
.modal-content{
  font-family: 'Manjari', sans-serif;
}
.account{

  background-color:#619680;
  height: 510px;
  width: 480px;
  position: relative;
  display: inline-block;
}

.account-login{

  background-color: white;
  height: 510px;
  width: 90%;
  position: absolute;
  top: -3%;
  z-index: 1;
  right: -1%;
  box-shadow: 0 8px 25px 0px black;
  transition-duration: 1s;
}


.account-login-1{

  background-color: white;
  height: 500px;
  width: 100%;
  position: absolute;
  top:-113%;
  z-index: 100;
  /*transform:translateY(-120%);  */
  /*box-shadow: 0 8px 25px 0px black;*/
  transition-delay: 1s;
  transition-duration: 0.3s;

}


.account-login-2{

  background-color: white;
  height: 540px;
  width: 100%;
  position: absolute;
  box-shadow: 0 8px 25px 0px black;
  transition: 2s;

}


/*Modal responsive*/

.account-responsive-doctor{
  background-image: url(assets/images/img/blurred-background-green-color.jpg);
  background-repeat: no-repeat;background-position-x:center;
  background-size: cover;
  width: 100%;
  height:95vh;
  left: 110%;
  transition: 1s;
  
}

.account-responsive-patient{
  background-image: url(assets/images/img/blurred-background-green-color.jpg);
  background-repeat: no-repeat;background-position-x:center;
  background-size: cover;
  width: 100%;
  height:95vh;
  left: -110%;
  transition: 1s;
  
}

.account-responsive-base{
  background-image: url(assets/images/img/blurred-background-green-color.jpg);
  background-repeat: no-repeat;
  background-position-x:center;    
  background-size: cover;
  width: 100%;
  height:95vh;
}


/*Botones bajo video MainIndex*/

.desplegables{
  width: 100%;
}
.desplegables button{
  border: 0;
  margin: 8px;
}

figure {
  margin: 3px 0px 4px;
}
.desplegables figure{  
  margin: 3px 1px 4px 1px;
  } /*Para editar los margenes de cada uno de los botones bajo video del index principal*/

  figure.snip0015 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    min-width: 350px;
    max-width: 350px;
    max-height: 400px;
    width: 100%;
    background: #000000;
    text-align: center;
    padding: 0;
  }
  figure.snip0015 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.snip0015 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.snip0015 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3em 2.5em;
    width: 100%;
    height: 100%;
  }
  figure.snip0015 figcaption::before {
    position: absolute;
    top: 50%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.snip0015 h2,
  figure.snip0015 p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
  }
  figure.snip0015 h2 {
    word-spacing: 0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(0%, 50%, 0);
    transform: translate3d(0%, 50%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.snip0015 h2 span {
    font-weight: 800;
  }
  figure.snip0015 p {
    font-weight: 200  ;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.snip0015 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
  }
figure.snip0015:hover img {
  opacity: 0.35;
}
figure.snip0015:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0015:hover figcaption p {
  opacity: 0.9;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  top: 30px;
  bottom: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/*--Media queries, responsive para vista tablet--*/
@media (max-width: 992px) {
  figure.snip0015 figcaption {
  padding: 2em 2.5em;
  }
  figure.snip0015 img {
    opacity: 0.35;
  }
  figure.snip0015 figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.snip0015 figcaption p {
    opacity: 0.9;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.snip0015 figcaption::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .click-here-span {
    /*line-height: 3.56rem;*/
    /*font-weight: bold;*/
    font-size: 1.1rem;
    transition-delay: 0.6s;
    opacity: 0.9;
    transform: translate3d(0%, 0%, 0);
    border-radius: .25rem;
    position: absolute;
    bottom: 45px;
    left: 117px;
    text-decoration: underline;
  }
  .here-position {
    bottom: 20px;
    left: 70px;
  }
}





/*Institucional about us */

figure.institucional-au {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  min-width: 230px;
  max-width: 100%;
  height: 342px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}

@media (min-width: 1217px) {
  figure.institucional-au img{
    width: 100%;
  }
}


figure.institucional-au *,
figure.institucional-au *:before,
figure.institucional-au *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.institucional-au img {
  /* width: 100%; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
  position: absolute;

}
figure.institucional-au .about-us {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.institucional-au .about-us:before,
figure.institucional-au .about-us:after {
  height: 2px;
  width: 100%;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.institucional-au .about-us:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.institucional-au .about-us:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.institucional-au .about-us div:before,
figure.institucional-au .about-us div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.institucional-au .about-us div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.institucional-au .about-us div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.institucional-au .no-usar-h1,
figure.institucional-au h5 {
  margin: 0;
  text-transform: uppercase;
}
figure.institucional-au .no-usar-h1 {
  font-weight: 400;
}
figure.institucional-au h5 {
  display: block;
  font-weight: 700;
  padding: 5px 10px;
  color: #ffffff;
}
figure.institucional-au figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.institucional-au figcaption p {
  margin: 0;
}
figure.institucional-au a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.institucional-au:hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.institucional-au:hover .about-us:before,
figure.institucional-au:hover .about-us:after,
figure.institucional-au:hover .about-us div:before,
figure.institucional-au:hover .about-us div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.institucional-au:hover .about-us:before,
figure.institucional-au:hover .about-us:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.institucional-au:hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.about-us .no-usar-h1 {
  text-shadow: 2px 2px 4px #ffffff;
  font-size: 2.5rem;
  line-height: 1.2;
}
#about-id {
  position: absolute;
  content: 'ajshdkjashdjkashdkjh';
  margin-top: -80px;
}

/*--Media queries, responsive para vista tablet--*/
@media (max-width: 992px) {
  figure.institucional-au img,
  figure.institucional-au img {
    zoom: 1;
    filter: alpha(opacity=35);
    -webkit-opacity: 0.35;
    opacity: 0.35;
  }
  figure.institucional-au .about-us:before,  
  figure.institucional-au .about-us:after,  
  figure.institucional-au .about-us div:before,  
  figure.institucional-au .about-us div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  figure.institucional-au .about-us:before,  
  figure.institucional-au .about-us:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  
  figure.institucional-au figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
}


/* ---------institucional: working on it 18/09 9.40 ---------*/

.institucional{
  background-repeat: repeat-x;
  width: 100%;
  background-size: cover;
}

.institucional-container-collapse{
  background-color: #3dbb9e;  
  background-position: center;    
  width: 100%;
  padding: 0;
} 
.institucional-container-collapse-img img{
  width: 100%;
  padding: 8px;
  border: 2px solid white;
}
.img-divisor img{
  width: 100%;
  height: 120px;
  border: none;

}

.institucional-text .no-usar-h1{
  font-family: 'Manjari', sans-serif;
  color: white;
  line-height: 26pt;
  letter-spacing: 1.5px;
  padding-top:50px;
}


.institucional-text h4{
  font-family: 'Manjari', sans-serif;
  color: white;
  padding-top: 20px;
  line-height: 22pt;
}
/*------ institucional: working on it 18/09 9.40------- */

/*------ slider institucional------- */
.slider-container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-family: 'Manjari', sans-serif;
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}

/*-------------Seccion Modal Turno-----------------*/

.horarios {
  height: 242px;
  padding-top: 9px;
}
#datepicker table tr td.active.active {
  background-image: linear-gradient(to bottom, #a4ec9f, #33a84e) !important;
}

#datepicker .datepicker-days {
  border: 1px solid #3dbb9e;
  border-radius: .25rem;
}

.btn-right {
  position: fixed;
  top: 50px;
  right: -222px;
  padding-right: 20px;
  transition: right 300ms;
  z-index: 1000;
}

.btn-right:hover {
  right: -4px;
}

/*BUTTONS BOOSTRAP*/

.btn-primary:hover {
  background-color: #3dbb9e !important;
  border-color: #3dbb9e;
}

.btn-primary:focus {
  background-color: #3dbb9e !important;
}

.btn-primary:active {
  background-color: #3dbb9e !important;
  border-color: #3dbb9e;
}

.services-color a, a i{

  color: #3dbb9e;

}

.mobile-login{
  background-image: url("assets/images/img/blurred-background-green-color.jpg"); 
  background-repeat: no-repeat;
  background-position-x:center;
  background-size: cover;
  height:100vh;
  width: 100vw;
}


/*-------Seccion desplegable Our Services------*/

.typo{
  font-family: 'Manjari', sans-serif;
}
.icon-desp {
  /*  transform: scale(0.9);*/
  opacity: 0.7;
  transition: transform 0.2s, opacity 0.2s;
  width: 5rem;
  margin: auto;
}
.icon-desp:hover {
  /*  transform: scale(1);*/
  opacity: 1;
  transition: transform 0.2s, opacity 0.2s;
  box-shadow: 0 0.5em 0.5em -0.4em #86c86473;
  transform: translateY(-0.25em);
}

.desp-back {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgb(44, 158, 137) 0%,rgb(99, 194, 172) 100%);
}

.hi-icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin-bottom: 8px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
}

.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box; 
  -moz-box-sizing: content-box; 
  box-sizing: content-box;
}

.hi-icon:before {
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}
.hi-icon-effect-8 .hi-icon {
  background: rgba(255,255,255,0.1);
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon-effect-8 .hi-icon:after {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.hi-icon-effect-8 .hi-icon:hover {
  background: rgba(255,255,255,0.05);
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  color: #8adac9;
}

.hi-icon-effect-8 .hi-icon:hover:after {
  -webkit-animation: sonarEffect 1.3s ease-out 75ms;
  -moz-animation: sonarEffect 1.3s ease-out 75ms;
  animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #35e5ac, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #35e5ac, 0 0 0 10px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #35e5ac, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #35e5ac, 0 0 0 10px rgba(255,255,255,0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #35e5ac, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #35e5ac, 0 0 0 10px rgba(255,255,255,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}


/*BOTON DE PROFILE Y DESLOGUEO*/



.dropdown-toggle-modificado::after{

 display: inline-block;
 margin-left: .255em;
 vertical-align: .255em;
 content: "";
 border-top: .3em solid;
 border-right: .3em solid transparent;
 border-bottom: 0;
 border-left: .3em solid transparent;
 color: #6e9f7d;

}

.dropdown-menu-modificado{

  top: 70%;
  border-radius: 0;
 
}



/*------------------*/
/*img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}*/

.title {
    margin-bottom: .75rem;
    color: #3dbb9e;
    font-size: 40px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 20px;
}

.btn-primar{
    color: #fff;
    background-color: #3dbb9e;
    border-color: #3dbb9e;
    font-size: 25px;
}




