.tipografia{
  font-family: 'Manjari', sans-serif;
  color: white;
}
.typo{
  font-family: 'Manjari', sans-serif;
}

/*navbar*/

.botones {
  text-align: right;
  margin-left: inherit;
  margin-top: 30px;
  color: #fff;
}
.services-color a, a i{
  color: #3dbb9e;
}
.nav-logo {
  height: 83px;
  margin-top: -1px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin: 5px;
}
.navback-carecolor {
  background: #3dbb9e12;
}
header img {
  vertical-align: middle;
  border-style: none;
  width: 104px;
}
.nav-care-btn {
  background-color: #3dbb9e;
  border-color: #3dbb9e;
  color: #fff;
  margin: 5px;
}
.nav-care-btn:hover  {
  color: #8adac9;
}
.nav-care-btn.disabled {
  color: #fff;
}
a:hover {
  text-decoration: none;
}


/*Footer */

footer {
 width: 100%; 
 padding-bottom: 0;
 margin: 0;
}
.container-footer{
  background-image: url(assets/images/img/blur1.jpg);
  background-size: cover;   
  background-repeat: repeat-x;
  width: 100%;
  margin: 0;
}
.footer-part-bkg{
 background: linear-gradient(rgb(220,220,220, 0.5), rgb(0,0,0, 0.5) );
 width: 100%;
 color: white;
 padding: 0;
 margin: 0;
}
footer img{
  /*width: 200px;*/
  height: 135px;
  margin-top: 20px;
}
footer p{
  padding: 15px;
}
.footer-first {
  text-align: justify;
}
.footer-buttons a{
  width: 200px;
  height: 60px;
  text-align: center;
  color: white;
  line-height: 3.75rem;
  font-size: 1.25rem;
  cursor: pointer;
  display: block;
}
.footer-contact{
  background-color: #32c6a3;
  margin: 1rem;
}
.footer-contact:hover{
  background-color: #1e8069;
}
.footer-donate{
  background-color: #32c6a3;
  margin: 1rem;
}
.footer-donate:hover{
  background-color: #1e8069;
}
.footer-titulo{
 /* height: 54px;*/
}
.footer-titulo h2{
  font-family: 'Manjari', sans-serif;
  color: white;
}
.redes a {
  margin: 10px;
}
.redes i {
  color: white;
  /* margin: 10px;*/
  /*  padding: 10px;*/
  font-size: 2.5rem;
}
.redes {

 justify-content: center;
}
.redes i:hover {
 transform: rotateY(360deg);
 transition-duration: 1s;
}
.copyright {
  display: flex;
  font-size: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
  color: white;
  background-color: #1e8069;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif ;
  width: 100%;
  position: absolute;
}
.copyright p{
  padding-bottom: 2px;
  margin-bottom: 2px;
}

/*----Boton fixed para turno----*/

.btn-right {
  margin-top: -4px;
  position: sticky;
  top: 86px;
  left: 100%;
  padding-right: 20px;
  transition: margin-right 490ms cubic-bezier(0.68, -0.55, 0.27, 1.55),  box-shadow 700ms ease-out;
  z-index: 1000;
  margin-right: -15px;
  box-shadow: 0px 0.25rem 1rem 5px #27c165ab;
  background-color: #079070d9;
  color: #caeee7;
}
.btn-right:hover {
  margin-right: -2px;
  box-shadow: none;
  color: #b8eae0;
}

.btn-right:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem ;
  content: '';
}
.btn-right:hover:after {
  -webkit-animation: sonarEffect 1.3s ease-out 75ms;
  -moz-animation: sonarEffect 1.3s ease-out 75ms;
  animation: sonarEffect 1.3s ease-out 75ms;
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px #67b787c7;
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #27c16547, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #27c16547, 0 0 0 10px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
/*----Cuerpo del perfil-------*/
.patient-avatar-img {
  width: 100%;
  margin: 0;
  border-radius: 8%;
}
.care-table td {
  min-width: 8rem;
  max-width: 20rem;
}

/**** Navbar ****/
/*.botones {
	text-align: right;
    margin-left: inherit;
    margin-top: 30px;
    color: #fff;
}
.fab {
    font-family: "Font Awesome 5 Brands";
    margin: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin: 5px;
}*/
/*img {
    vertical-align: middle;
    border-style: none;
    width: 200px;
    margin-left: 50px;
}*/
/*.btn-primary {
    color: #fff;
    background-color: #3dbb9e;
    border-color: #3dbb9e;
}
a {
    text-decoration: none;
}
.btn-search {
  color: black;
}*/

/**** PAGE PACIENTE ****/

/*.text-center {
    text-align: center!important;
    margin-left: 350px;
    margin-right: 350px;
}
.card-header {
    background-color: initial;
}
*/
/**** PAGE MEDICO ****/

/*th {
  width: 50%;  
}
.tabla-datos {
  width: 70%;
}
.table-info tbody+tbody, .table-info td, .table-info th, .table-info thead th {
    border-color: #fff;
}*/

